<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title || 'Tree'}}</title>
    <link rel="stylesheet" href="http://7xjy8v.com1.z0.glb.clouddn.com/html5reset.css">
    <link rel="shortcut icon" href="http://7xkve6.com1.z0.glb.clouddn.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/font-awesome-4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/github.css">
    <link rel="stylesheet" href="/css/pygments.css">
　</head>
　<body>
    <div class="container">
      <div class="me-con">
        <a href="/">
          <img class="avatar" src="http://7xkve6.com1.z0.glb.clouddn.com/avatar.png" alt="">
        </a>
        <div class="me">
          <a href="/">
            <p class="name">崔</p>
          </a>
          <p class="links">
            <a href="https://twitter.com/treeecui" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/hellocui" target="_blank"><i class="fa fa-github"></i></a>
            <a href="http://weibo.com/u/3435018172" target="_blank"><i class="fa fa-weibo"></i></a>
          </p>
        </div>
      </div>
      {{ content }}
    </div>
  </body>
</html>